body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("img/man_playing_tennis-wallpaper-1920x1200[2].jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1 {
    /* The image used */
    background-image: url("img/tennis_player-wallpaper-1920x1200[2].jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}